#corps
{
	background-color: #7ed6df;
}

#titre
{
	text-align: 50%;
}

#d1
{ 
	width: 100%;
	text-align: center;
	padding: 21px;
	background-color: #7ed6df;
	border: 4px solid #ffffff;
	color: white;
}

#d2
{
	width: 100%;
	text-align: center;
	padding-top: 10px;
	background-color: #95a5a6;
}

#d3
{
	height: 80px;
	margin-top: 50px;
	background-color:#3498db;
	border-left: 35px solid #95a5a6;
}

#profil
{
	font-size: 30px;
	padding-top: 15px;
	padding-left: 45px
}

#contenu
{
	padding-left: 30px;
	font-size: 12;
}

#d3_1
{
	background-color:#7ed6df;
}

#im
{
	width: 40%;
	border: 4px solid #95a5a6;
	border-radius: 15px;
	margin-left:5%;
	margin-top: 15px;
	margin-bottom: 10px;
}

#d4
{
	width: 100%;
	height: 80px;
	margin-top: 50px;
	background-color:#3498db;
	border-left: 35px solid #95a5a6;
}

#skills
{
	padding-left: 10px;
	font-size: 30px;
	padding-top: 15px;
}

#text1
{
	padding-left: 80px;
	padding-top: 50px;
	font-size: 40px;
}

#text2
{
	padding-left: 120px;
	padding-top: 15px;
}

#d5
{
	height: 80px;
	margin-top: 50px;
	background-color:#3498db;
	border-left: 35px solid #95a5a6;
}

#d6
{
	height: 80px;
	margin-top: 50px;
	background-color:#3498db;
	border-left: 35px solid #95a5a6;
}

#diplômes
{
	font-size: 30px;
	padding-top: 15px;
	padding-left: 45px
}

#loisirs
{
	padding-left: 10px;
	font-size: 30px;
	padding-top: 15px;
}

#fin1
{
	padding-top: 20px;
	padding-left: 45px;
}

#fin2
{
	padding-left: 120px;
	padding-top: 15px;
}